<!-- /aboutus : Details About the Team (GET) -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comic Cat</title>
</head>
<body>
  <%- include('../layout/header.ejs') %>


<p>Whatever cool 'About Me' info we want to add for each of us!</p>


</body>
</html>