<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>
  <title>Comic Cat</title>
</head>
<body>
  <%- include('../layout/header.ejs') %>

<!-- Joshua Beasley -->
<section class = "fav-page">
  <div class="fav-main">
      <div class="fav-image">
          <img src="/pubimages/beas-at-hole.jpg">
      </div>
      <div class="fav-text">
          <p class="fav-title">Joshua Beasley: Software Developer</p>
          <p class="fav-description">I am so glad I've found an industry which prizes teamwork, creative problem solving, and retrospective/iterative planning. Driven by a desire to be helpful, I am an enthusiastic student of Software Development because I believe it is the realm in which I can do the most good for humanity and have the most fun.
      </p>
          <p class="fav-notes">
            <a href="https://www.linkedin.com/in/joshua-beasley-87314b1b1/"><i class="fab fa-linkedin fa-4x"></i></a>
            
            <a href="https://github.com/beasleyDOTcom"><i class="fab fa-github-square fa-4x"></i></a>
          </p>
      </div>
  </div>
  <div class="fav-cat">
      <img src="/pubimages/beas-cat.JPG">
  </div>
</section>

<!-- Jen Chinzi -->
  <section class = "fav-page">
    <div class="fav-main">
        <div class="fav-image">
            <img src="/pubimages/jchinzi.jpeg">
        </div>
        <div class="fav-text">
            <p class="fav-title">Jennifer Chinzi: Software Developer</p>
            <p class="fav-description">With a background in education, sales, and office management, I am seeking opportunities to parlay my communication and coding skills into an environment where I can bridge the gap between specialists and end users.</p>
            <p class="fav-notes">
              <a href="https://www.linkedin.com/in/jennifer-chinzi/"><i class="fab fa-linkedin fa-4x"></i></a>
              
              <a href="https://github.com/jchinzi"><i class="fab fa-github-square fa-4x"></i></a>
            </p>
        </div>
    </div>
    <div class="fav-cat">
        <img src="/pubimages/tinyKitten.jpg">
    </div>
</section>

<!-- Amber Falbo -->
<section class = "fav-page">
  <div class="fav-main">
      <div class="fav-image">
          <img src="/pubimages/afalbo.jpg">
      </div>
      <div class="fav-text">
          <p class="fav-title">Amber Falbo: Software Developer</p>
          <p class="fav-description">I have a background largely in customer service in varied rolls of 16 years, 8 years of team leading, 5 years of managing and 14 years of non-profit work. I hope that everything I've learned from my previous careers can help make me an asset as a software developer.</p>
          <p class="fav-notes">
            <a href="https://www.linkedin.com/in/amberfalbo/"><i class="fab fa-linkedin fa-4x"></i></a>
            
            <a href="https://github.com/AmberFalbo"><i class="fab fa-github-square fa-4x"></i></a>
          </p>
      </div>
  </div>
  <div class="fav-cat">
      <img src="/pubimages/lucipurr.jpeg">
  </div>
</section>

<!-- Paul O'Brien -->
<section class = "fav-page">
  <div class="fav-main">
      <div class="fav-image">
          <img src="/pvovimage/paulheadshot_crop.jpeg">
      </div>
      <div class="fav-text">
          <p class="fav-title">Paul O'Brien: Software Developer</p>
          <p class="fav-description">I call the Pacific Northwest home. I am an outdoor enthusiast, Microsoft fan, and still miss the Seattle Supersonics. I'm looking for a job that is about empowering users to make the most of their life. My coding knowledge includes JavaScript, HTML, CSS, Postgresql, and Python.</p>
          <p class="fav-notes">
            <a href="https://www.linkedin.com/in/pvovideo"><i class="fab fa-linkedin fa-4x"></i></a>
            
            <a href="https://github.com/PVOBrien"><i class="fab fa-github-square fa-4x"></i></a>
          </p>
      </div>
  </div>
  <div class="fav-cat">
      <img src="/pvovimage/pvocat2.jpg">
  </div>
</section>

</body>
</html>