<!DOCTYPE html>
 <html lang="en">
 <head>
  <%- include('../layout/head.ejs') %>
   <title>Comic Cat</title>
 </head>
 <body>
   <%- include('../layout/header.ejs') %>
 

  <img src="https://http.cat/404" alt="404 - Page Not Found">
 
 
 </body>
 </html>