<!DOCTYPE html>
 <html lang="en">
 <head>
  <%- include('../layout/head.ejs') %>
   <title>Comic Cat</title>
 </head>
 <body>
   <%- include('../layout/header.ejs') %>
  
  <h1>Sorry there is nothing matching your search.</h1>
  <p>Try entering and exact comic such as Howard the Duck, Ant-Man, Spider-Man and so on, looking for cats sadly won't purrduce a result.</p>

  <img src="https://http.cat/204" alt="204 - No Content">
 
 
 </body>
 </html>