<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search New Comics</title>
</head>
<body>
  <main>
    <div class="comic-container">
      <h4>Search by Title</h4>
    <form action="/results" method="post">
      <input id=textBox type="text" name="search" placeholder="Enter a title" value="comic" required>
 
      <button type="submit">Search the Marvel API</button>
    </form>
  </div>
  </main>
  
</body>
</html>