<header>
  <nav>
    <ul>
      <li><a href='/'>New Search</a></li>
      <li><a href='/favorites'>View My Favorites</a></li>
      <li><a href='/about'>Meet the Team</a></li>
    </ul>
  </nav>
</header>