<header>
  <nav>
    <ul>
      <li><a href="https://allaboutcats.com/" target="_blank">
        <img src="/pubimages/blackcat.png"></a>
      </li>
      <li><a href='/'>New Search</a></li>
      <li><a href='/favorites'>View My Favorites</a></li>
      <li><a href='/about'>Meet the Team</a></li>
      <li><a href="https://www.meowingtons.com" target="_blank">
        <img src="/pubimages/blackcat.png"></a></li>
    </ul>
  </nav>
</header>